.header {
	background-color: #e6e6e6;
	height: 15px;
	width: 100%;
	
	@media (min-width: 768px) {
		height: 100px;
	}
	
	.page-title {
		font-size: 20px;
		font-weight: bold;

		@media (min-width: 768px) {
			margin-left: 24px;
		}
	}
	
	.page-total {
		font-size: 15px;
		margin-top: 16px;

		@media (min-width: 768px) {
			margin-top: 0px;
			margin-right: 24px;
		}
	}
}
